{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <label for="symbol">Stock Symbol:</label>
            <select class="form-control" name="symbol" id="symbol" required>
                {% for holding in holdings %}
                    <option value="{{ holding.symbol }}">{{ holding.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="shares">Number of Shares:</label>
            <input class="form-control" name="shares" id="shares" placeholder="Shares" type="number" min="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
